
---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -fuchsia-*,
        -llvmlibc-*,
        -modernize-use-trailing-return-type,
        -objc-*,
        -openmp-*,
        -bugprone-easily-swappable-parameters,
        -misc-non-private-member-variables-in-classes

"
WarningsAsErrors: ''
HeaderFilterRegex: ''
